{
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": [
    "^\\./sentry/instrument$",
    "<THIRD_PARTY_MODULES>",
    "^rxjs(.*)$",
    "^lodash(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": [
    "typescript",
    "classProperties",
    "decorators-legacy"
  ]
}
